body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.profilepic {
  height: 200px;
}

.java {
  margin: 15px 30px 50px auto;
  width: 25%;
  float: left;
}

.clanguage {
  width: 25%;
  float: left;
  margin-right: 30px;
}

/*.Paragraph{

}*/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.profilepic {
  margin: 30px auto 30px auto;
}

.pro {
  text-decoration: underline;
  line-height: 2;
}

.GIF {
  float: right;
  width: 25%;
}

p {
  margin-bottom: 50px;
}

.programmer {
  margin-top: 2px;
  font-weight: normal;
}
hr{
  border-style: none;
  border-top-style: dotted;
  height: 6px;
  border-width: 5px;
width: 10%;
color: #EAF6F6;


}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
}
/*.btn
{
  padding: 20px 60px 20px 60px;
  font-family: 'Montserrat', sans-serif;

}*/

.btn {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:8px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:10px 36px;
	text-decoration:none;
	text-shadow:0px -1px 4px #5b6178;
  margin-bottom: 50px;
  

}
.btn:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btn:active {
	position:relative;
	top:1px;
}
.bc{
  background-color: #66BFBF;
margin-top: 50px;
  padding-bottom: 100px;
}
.tittle{
  color: #66BFBF;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  position: relative;
  top: 50px;
margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}

.last{
  position: relative;
  top: 60px;
  color: #EAF6F6;
  font-size: 0.75rem;
}
